@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Stylish&display=swap');


#temp-gap {
    height: 200px;
}

/* Navbar */
nav {
    background-color: #f25b43;
}

#website-title {
    color: #fff3db;
    font-family: 'Stylish', 'Lato', sans-serif;
    font-size: 60px;
}

.nav-link {
    color: #fff3db;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.nav-link:hover {
    color: #a61f0b;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #fff3db;
    box-shadow: none;
}

/* Hero Image / Slideshow */

#hero-image {
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}

/* Background Image */

#outside-background-image {
    background-image: url(images/background-image.jpg);
    background-repeat: cover;
}

#inside-background-colour {
    width: 80%;
    background-color: #fff3db;
    margin: auto;
}

/* About Section */

.about-h2-styling {
    padding: 6px 0;
    font-family: 'Stylish', 'Lato', sans-serif;
    color: #a61f0b;
    font-size: 45px;
}

.about-text-styling {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 25px;
}

/* Recommended Location */
.container-btns {
  background: #f25b43;
  width: 100%;
}

.btn-top-margin {
  margin-top: 30px;
}

.btn-locations {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 1);
  cursor: pointer;
  outline: none;
}

.btn-locations:focus {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}
.btn-shanghai {
  background: url("images/shanghai.jpg") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid white;
}

.btn-beijing {
  background: url("images/beijing.jpg") no-repeat center;
  background-size: cover;
  border: 8px solid white;
}

.btn-hong-kong {
  background: url("images/nanjingroad.jpg") no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid white;
}

.btn-shanghai:hover {
  border: 12px solid #a61f0b;
}

.btn-beijing:hover {
  border: 12px solid #a61f0b;
}
.btn-hong-kong:hover {
  border: 12px solid #a61f0b;
}

.options {
  display: none;
}

.options-btn {
  margin: auto;
  height: 60px;
  width: 190px;
  background: #fff3db;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.margin-btn-top-bottom {
  padding: 40px 0;
}


.options-btn:focus {
  outline: none;
  background: #fff3db;
  color: black;
  border: 2px solid #a61f0b;
}

#chose-beijing .options-btn {
  background: #fff3db;
  color: black;
}

#chose-beijing .options-btn:focus {
  background: #fff3db;
  color: black;
  border: 5px solid #a61f0b;
}

#chose-hong-kong .options-btn {
  background: #fff3db;
  color: black;
}

#chose-hong-kong .options-btn:focus {
  background: #fff3db;
  color: black;
  border: 5px solid #a61f0b;
}

.container-map {
  background: #542527;
}

.info {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.info-shanghai,
.info-beijing,
.info-hong-kong {
  display: none;
}

.info-img {
  max-width: 30%;
  height: 60%;
}

.info-text {
  color: #eaeaea;
}


#map {
  width: 100%;
  height: 400px;
}

/* MODALLLLS */
/* Image Modals */
/* Style the Image Used to Trigger the Modal */
#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8, #myImg9 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 31%;
}

#myImg:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover, #myImg7:hover, #myImg8:hover, #myImg9:hover {
    opacity: 0.7;
}

.modal-wrapper {
  margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Contact Form */

.form-container {
  margin-top: 30px;
  padding-bottom: 30px;
}

.form-h2 {
  padding: 6px 0;
  font-family: 'Stylish', 'Lato', sans-serif;
  color: #a61f0b;
  font-size: 45px;
}

.form-input-styling, .form-textArea-styling {
  border-radius: 0 2em;
  padding: 0 10px;
  width: 50%;
  border: none;
  line-height: 3em;
  margin-bottom: 20px;
  background-color: #f25b43;
  outline: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.form-input-styling:focus, .form-textArea-styling:focus, .form-submit-styling:focus {
  border: 5px solid #a61f0b;
}

::placeholder {
  padding-left: 10px;
  color: white;
}

.form-submit-styling {
  border-radius: 0 2em;
  padding: 0 10px;
  width: 20%;
  border: none;
  line-height: 3em;
  background-color: #f25b43;
  outline: none;
  color: white;
  font-weight: 600;
}

/* Footer */

.footer-container {
  padding-top: 10px;
  background-color: #f25b43;
}

.social-icon {
  color: white;
  font-size: 30px;
}

.social-icon:hover {
  color: #a61f0b;
}
