@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Stylish&display=swap');




/* Navbar */
nav {
    background-color: #f25b43;
}

#website-title {
    color: #fff3db;
    font-family: 'Stylish', 'Lato', sans-serif;
    font-size: 60px;
}

.nav-link {
    color: #fff3db;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.nav-link:hover {
    color: #a61f0b;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #fff3db;
    box-shadow: none;
}

/* Hero Image / Slideshow */

#hero-image {
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}

/* Background Image */

#background-image {
    background-image: url(images/background-image.jpg);
    background-repeat: cover;
}

#main-background {
    width: 50%;
    background-color: white;
    margin: auto;
    border-radius: 10%;
}